/* registration-popup.component.css (or .scss) */

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the last value to control transparency */
}

.registration-form {
  background-color: #ffffff8b;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.registration-topic {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
}

