.user-profile-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .user-profile-title {
    font-size: 24px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 120px;
    color: rgb(42, 134, 214);
  }
  
  .profile-image-container {
    text-align: center;
    margin: 10px 0;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-detail {
    margin-bottom: 10px;
  }
  
  .user-profile-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-button {
    margin-right: 5px;
  }
  